

.navbar {
    background-color: #3B3B98; 
    color: #ffffff;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: 900;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: -1px;
}

.navMenu {
    display: flex;
    align-items: center;
}

.navLinks {
    display: flex; 
    gap: 2rem;
}

.navLinks a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    padding-bottom: 5px;
}


.navLinks a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.navLinks a:hover::after {
    width: 100%;
}

.menuIcon {
    font-size: 2rem;
    cursor: pointer;
    display: none; 
}


@media (max-width: 768px) {
    .navLinks {
        display: none; 
    }
    .menuIcon {
        display: block;
    }
}